{

"bracketSpacing": true, // Визначає, чи слід залишати пробіли всередині фігурних дужок об'єктів.

"singleQuote": true, // Використовувати одинарні лапки для рядків замість подвійних.

"trailingComma": "all", // Додає кому після останнього елемента в масивах, об'єктах, та списках параметрів функцій.

"printWidth": 120, // Визначає максимальну довжину рядка коду. Якщо рядок довший, він буде автоматично переноситися.

"jsxBracketSameLine": false, // Визначає, чи слід закривати JSX-теґи на новому рядку.

"semi": true, // Визначає, чи слід використовувати крапку з комою в кінці виразів.

"tabWidth": 2, // Визначає кількість пробілів для одного рівня відступу. Тут використовується 2 пробіли.

"arrowParens": "always", // Визначає, чи потрібно використовувати дужки навколо параметрів стрілкових функцій.

"singleAttributePerLine": true, // Визначає, чи слід розташовувати кожен атрибут HTML або JSX на окремому рядку.

"jsxSingleQuote": true, // Використовує одинарні лапки в JSX.

"quoteProps": "as-needed", // Визначає, чи слід використовувати лапки навколо ключів в об'єктах.

"useTabs": true // Визначає, чи слід використовувати табуляції для відступів.

}